language: julia
os:
    - osx
    - linux
julia:
    - 0.3
    - 0.4
    - nightly
notifications:
    email: false
script:
    - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
    - julia -e 'Pkg.clone(pwd()); Pkg.build("SQLite"); Pkg.test("SQLite"; coverage=true)';
after_success:
    - julia -e 'cd(Pkg.dir("SQLite")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())';
